# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# -----------------------git

# Jekyll build output
_site/

# Local Ruby gems (optional if you use --path)
.bundle/

# Node.js dependencies (if any)
node_modules/

# Mac/Windows 系统文件
.DS_Store
Thumbs.db

# Editor temp files
*.swp
*.swo

